.work_cards_right h2{
    display: flex;
    align-items: center;
}

.for_work_img{
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_work_img img{
    width: 100%;
}

.work_card{
    padding: 16px 16px 26px 16px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
body{
    background-color: #0F0F0F;
}
.work_card_black{
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255,255,255,0.3), rgba(255,255,255,0.05));
}
.work_cards{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Main_work{
    padding: 0 20px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.work_cards_right h2{
    color: #ffffff;
    font-size: 74px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -01px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2px;
    justify-content: center;
}
.work_cards_right{
    width: 66%;
}
.work_card_left{
    width: 32%;
}
.work_title  p{
    color: #BCBCBC;
    opacity: 0.5;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.work_title h3{
    font-size: 22px;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
}
.work_title{
    margin-top: 15px;
}
.work_titles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.work_card_right{
    margin-top: 25px;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.work_titles img{
    opacity: 0.3;
    transition: 0.7s;
}
.work_card:hover .work_titles img{
    opacity: 1;
}
@media(max-width: 1200px){
    .work_cards_right h2{
        font-size: 50px !important;
    }
}
@media(max-width: 1000px){
    
}